body{
    margin: 0px;
    padding: 0px;
    background-size: 100%;
      
}
.back{
  white-space: nowrap;
  overflow: hidden;
}
.left {
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.cart{
  text-decoration: none;
  font-family: 'Times New Roman';
  background: transparent;
  border:black;
    font-size: 28px;
    color:white;
    z-index: 1;
    margin-right: 250px;
    position: fixed;
    right: 14px;
    top: 8px; 
    display: inline-block;
}
.cart:visited{
  text-decoration: none;
}
.cart:hover{
  color:yellow;
}
.cart:click
{
    color:yellow;
}
.right {
    z-index: 1;
    margin-left: 100px;
    position: fixed;
    right: 14px;
    top: 0px;
    display: inline-block;
}

.navbar { 
    z-index: 1;
    margin-top: 0px;
    margin-left: 0%;
    height:50px;
    width: 100%;
    background-color: black;
    position: fixed;
    display: inline-block;
}
header{
    margin:0px;
    padding:0px;    
    height:80px;
    background: transparent;
}
.navbar li {
    z-index: 1;
    margin-top: 5px;
    display: inline-block;
    font-size: 21px;
}

.navbar li a {
    vertical-align: top;
    font-size: 25px;
    margin:5px;
    margin-left: 0px;
    align-items: center;
    padding: 0px 23px;
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    color: gray;
}
    .btn {
        font-family: 'Chela One', cursive;
        margin: 4px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: gray;
    }
    .news{
      display: flex;
      flex-direction: column;
      height:300px;
      width:70%;
      border:3px solid white;
      border-radius: 20px;
      position:relative;
    }
    #news1{
      display: inline-block;
      /* animation: movenews 15s infinite linear; */
    }
    #news2{
      display: inline-block;
      margin-left: 100px;
      vertical-align: top;
    }
    @keyframes movenews{
      from {left: -1300px;}
    50% {left: 100px !important;} /* ignored */
    to {left: 1800px;}
    }
    @keyframes movenews2{
      from {left: -1300px;}
    50% {left: 100px !important;} /* ignored */
    to {left: 1800px;}
    }
    .main{
      z-index: 0;
        height: 400px;
        background: transparent;
        background-size: cover;
        /* display: flex; */
        justify-content: center;
        align-items: flex-end;
    }
    #sale{
      width: 100%;
        height: 100%;
        object-fit: cover;
          overflow: hidden;
          background-size: cover;
    }
    
    
    .msg a {
        color: #007185;
        text-decoration: none;
    } 
    
    .shop{
      margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: transparent;
    }
    
    .box{
        border: 4px solid pink;
        height: 300px;
        width: 23%;
        background-color: white;
        margin: 8px;
        padding: 0px;
    }
    .box:hover{
      border: 4px solid yellow;
    }
    .shop1{
        font-size: 16px;
    }
    
    .box1-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        background-size: cover;
        position: relative;
        z-index: 0;
    }
    footer{
      margin-top: 15px;
    }
    .firstpanel{
      height: 50px;
      background-color: #232F3E;
      color: white;
      font: 13px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    
    .secondpanel{
      background-color: #333;
      color: white;
      height: 400px;
      display: flex;
      justify-content: space-evenly;
    }
    
    ul{
      margin-top: 20px;
    }
    ul a {
      display: block;
      font-size: 14px;
      margin-top: 15px;
      color: #dddddd;
    }
    
    .thirdpanel{
      background-color: #333;
      color: white;
      border-top: 0.5px solid #848688;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .select-op{
      margin-left: 55px;
      display: flex;
    }
    .price{
      position: absolute;
      margin-bottom: 10px;
    }
    .select-op select{
      background: transparent;
      color: #cccccc;
      font-size: 13px;
      text-decoration: none;
      margin-left: 5px;
      border: 1px solid #848688;
      padding: 6px 18px 6px 8px;
      border-radius: 3px;
    }
    
    .panel4{
      background-color: #333;
      color: white;
      height: 80px;
      font-size: 12px;
      text-align: center;
      /*display: flex;
      align-items: center;
      justify-content: center;*/
    }
    
    .page{
      text-align: center;
      padding-top: 25px;
    }
    .page a {
      text-decoration: none;
      color: white;
    
    }
    
    .copyright{
      margin-top: 5px;
    }
    .back {
      position: relative;
      background-image: url("./Images/background.jpg");
      /* Set the height */
      height: 2000px;
     /* Create a parallax effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }